@import "../../scss/color.scss";

.postnav {
    display: flex;
    margin-top: 52px;
    margin-bottom: 12px;

    a {
        text-decoration: none;
        color: $primary;

        &:hover {
            color: $primary-hover;
        }
    }

    .left {
        margin-right: auto;

        svg {
            padding-right: 8px;
        }
    }

    .right {
        margin-left: auto;

        svg {
            padding-left: 8px;
        }
    }
}
