@use "sass:color";
@import "../../scss/color.scss";

.post {
    margin-bottom: 30px;

    h2 {
        color: $primary;
        font-size: 40px;
        font-weight: 900;
        margin: 12px 0;
    }

    a {
        text-decoration: none;

        h2:hover {
            color: $primary-hover;
        }
    }

    .tag {
        display: inline-block;
        margin-bottom: 8px;

        & + .tag {
            margin-left: 10px;
        }
    }
}
